body,
.vp-doc {
  transition: background-color 0.2s ease;
}

.slide-fade {
  animation: slide 0.2s ease-in;
}
@keyframes slide {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

:root {
  font-size: 13px;;
}
