body,
.vp-doc {
  transition: background-color 0.2s ease;
}

.slide-fade {
  animation: slide 0.2s ease-in;
}
@keyframes slide {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

:root {
  font-size: 13px;
}

/* VitePress 标题样式 */
.VPNavBarTitle .title {
  font-family: "Pacifico", serif !important;
  font-weight: 700 !important;
  letter-spacing: 0.05em !important;
}
@media (max-width: 768px) {
  .site-name {
    font-size: 1.5rem !important;
  }
}

/* element-plus 样式 覆盖  */
.el-image-viewer__mask {
  background: transparent !important;
  opacity: 1 !important;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  @apply .backdrop-blur-7;
  --un-backdrop-blur: blur(7px);
      --un-backdrop-brightness: ;
    --un-backdrop-contrast: ;
    --un-backdrop-grayscale: ;
    --un-backdrop-hue-rotate: ;
    --un-backdrop-invert: ;
    --un-backdrop-opacity: ;
    --un-backdrop-saturate: ;
    --un-backdrop-sepia: ;
  -webkit-backdrop-filter: var(--un-backdrop-blur) var(--un-backdrop-brightness)
    var(--un-backdrop-contrast) var(--un-backdrop-grayscale)
    var(--un-backdrop-hue-rotate) var(--un-backdrop-invert)
    var(--un-backdrop-opacity) var(--un-backdrop-saturate)
    var(--un-backdrop-sepia);
  backdrop-filter: var(--un-backdrop-blur) var(--un-backdrop-brightness)
    var(--un-backdrop-contrast) var(--un-backdrop-grayscale)
    var(--un-backdrop-hue-rotate) var(--un-backdrop-invert)
    var(--un-backdrop-opacity) var(--un-backdrop-saturate)
    var(--un-backdrop-sepia);
}
